
.tagslist {
  border: 1px solid #cbcbcb;
}

.tagslist ul {
  padding: 0 0.8em;
  margin-top: 0.6em;
  list-style-type: none;
}

.tagslist ul li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.columntitle {
  font-weight: 600;
  background-color: #cbcbcb;
  height: 34px;
  line-height: 34px;
  text-align: center;
  vertical-align: center;
}