.button {
  font-family: inherit;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
  padding: 0.3em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-outline {
  font-family: inherit;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
  padding: 0.3em 1em;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgb(223, 117, 20);
  color: rgb(223, 117, 20);
  cursor: pointer;
}

.button-white,
.button-success,
.button-error,
.button-secondary,
.button-warning {
  color: white;
}

.button-success {
  background: rgb(28, 184, 65);
}

.button-error {
  background: rgb(202, 60, 60);
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-secondary {
  background: rgb(66, 184, 221);
}

.button-group .button {
  margin-right: 10px;
}

.button-row {
  display: flex;
  align-items: center;
}

.button-row-space {
  flex-grow: 1;
}
