.ReactTable .rt-thead .rt-th.-cursor-pointer,
.ReactTable .rt-thead .rt-td.-cursor-pointer {
    box-shadow: none;
    outline: none;
    background-color: #eee;
}

.ReactTable .rt-thead.-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

.ReactTable .-pagination {
    box-shadow: none;
    background-color: #eee;
    border-top: none;
    padding-top: 4px;
}

.ReactTable .-pagination .-btn {
    background: none;
    font-weight: bold;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
    background: none;
    color: inherit;
    text-decoration: underline;
}

.ReactTable .-pagination select {
    background: none;
    border: none;
}

.ReactTable .rt-thead .rt-th {
    padding: 13px 10px 7px;
}

.ReactTable .rt-td {
    padding: 10px;
}

.rt-resizable-header {
    align-items: center;
    font-weight: bold;
}

.rt-resizable-header-content {
    display: inline-block;
}

.rt-th .-sort-desc {
    box-shadow: none;
}

.rt-th .-sort-asc {
    box-shadow: none;
}

.-sort-desc:after {
    content: " \25BC";
    position: relative;
    top: -3px;
}

.-sort-asc:after {
    content: " \25B2";
    position: relative;
    top: -4px;
}