.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  padding: 0;
  color: #777;
}

.App-header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px;
  margin: 0;
}

.App-header li {
  display: block;
  padding: 0.5em 1em;
}

.App-header a {
  color: #777;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  /* outline: 0.5px dashed red; */
}

section.views {
  margin: 0 60px;
  font-size: large;
  /* outline: 0.5px solid green; */
  color: #777;
}
section.views > h2 {
  /* margin-bottom: 0px; */
}
section.views svg,
section.views div {
  /* outline: 1px solid red; */
}

.header.account {
  border: none;
  padding: 3px;
  display: flex;
  background-color: #ddd;
}
.header.account > * {
  padding: 0.5em 1em;
}

input {
  padding: 0.5em;
}

.transactionTable {
  width: 100%;
}
.transactionInput {
  display: flex;
  margin-top: 1em;
}
.transactionInput button {
  padding: 0.5em;
  min-width: 80px;
}
.descriptionInput {
  flex-grow: 1;
}
.valueInput {
  width: 80px;
}
